html, body {
    background-color: #212121;
}
.titre {
    display: flex;
    align-items: center;
    width: 100%;
}
.titre_page {
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 0;
}
.infos {
    color: grey;
    font-size: 20px;
    order: 1;
    justify-self: flex-start;
    margin-right: auto;
}
.link_deco {
    color: white;
    text-decoration: none;
}
.deco {
    order: 3;
    justify-self: self-end;
    margin-left: auto;
}
.link_deco:hover {
    color: grey;
}
.infos_serveur {
    display: flex;
    align-items: center;
    width: 100%;
}
.conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-family: 'Acme', sans-serif;
}
.paras {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}
.paras p {
    font-family: 'Acme', sans-serif;
}
.p1 {
    margin-bottom: 0;
}
.p2 {
    margin: 0;
}
.p3 {
    margin-top: 0;
}
.boutons {
    display: flex;
}
.boutons a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: grey;
    font-size: 20px;
}
.boutons a:hover {
    background-color: white;
    color: black;
}
.b1 {
    margin-right: 5px;
}
.b2 {
    margin-left: 5px;
}
.session {
    color: rgb(250, 70, 70);
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: -40px;
    font-family: 'Acme', sans-serif;
}
footer .copyright {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
footer .copyright p {
    color: grey;
}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.text {
    font-weight: 100;
    font-size: 48px;
    color: #FAFAFA;
}
.dud {
    color: #757575;
}
.monPerso {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    background-color: #757575;
    border-radius: 10px;
    margin: 10px;
}
.containeurPersos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.blocPerso {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
}
.blocPerso a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}
.blocPerso:hover {
    border: 2px solid red ;
    background-color: rgb(204, 177, 177);
}
.blocPerso:hover a {
    color: black;
    cursor: crosshair;
}
.red {
    color: rgb(243, 69, 69);
}
.green {
    color: rgb(98, 179, 98);
}

/********* Jeu **********/
.titre_page a {
    text-decoration: none;
    color: white;
}

/****** Combat attente ********/
.attente {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre_combat {
    font-size: 60px;
    color: #f1f1f1;
}

/********** Resultats combat *******/
.resultats {
    width: 100%;
}
.para {
    font-size: 20px;
    color: white;
    font-family: 'Acme', sans-serif;
    text-align: center;
}
.bouton {
    text-align: center;
    margin-top: 80px;
}
.bouton a {
    text-decoration: none;
    border: 1px solid grey;
    color: white;
    font-size: 20px;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 20px;
}
.bouton a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

/************** Inscription ************/
h1 {
    text-align: center;
    color: white;
    font-size: 35px;
}
.from_inscription {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.from_inscription input {
    margin-bottom: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: wheat;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
}
.from_inscription .caps {
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
}
.from_inscription label {
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
}
.classes {
    display: flex;
}
.bloc {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.blocs {
    display: flex;
}
.labels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: wheat;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
  }

  .from_inscription button {
      background-color: grey;
      border-style: none;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid black;
      font-size: 18px;
      color: white;
      margin-left: 10px;
      margin-right: 10px;
      font-family: Arial, Helvetica, sans-serif;
  }
  .from_inscription button:hover {
      background-color: green;
      color: black;
      cursor: pointer;
  }

  .boutons_inscription {
      display: flex;
      justify-content: center;
      margin-top: 30px;
  }
  .boutons_inscription a {
      text-decoration: none;
      font-size: 18px;
      padding: 20px 30px;
      background-color: grey;
      border-radius: 20px;
      color: white;
      margin-left: 10px;
      margin-right: 10px;
      font-family: Arial, Helvetica, sans-serif;
  }
  .boutons_inscription a:hover {
      background-color: red;
      color: black;
  }